//responsive

//widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr)
  }
}

//ddesktop/laptop
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr)
  }
}

//tablet/small laptop
@include mediaMd {

  main {
    align-items: center;
    text-align: center;
        
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 3rem; 
      }
    }

    ul.menu-nav,
    div.menu-branding {
      float: none;
      width:  100%;
      min-height: 0;

      &.show {
        transform: translate3d(0,0,0)
      }
    }

    .menu-nav {
      height:  75vh;
      transform: translate3d(-100%,0,0);
      font-size: 24px;
    }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%,0,0);

    .portrait {
      background: url('../img/spritsheetSMALL.png');
    }
  }

  .about-info {
    grid-template-areas:
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';

    grid-template-columns: 2fr;
    justify-items: center;

  }
  .projects {
    grid-template-columns: repeat(2, 1fr)
  }
}

//smartphone
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
        font-size: 1.8rem;
    }
    .projects {
      grid-template-columns: 1fr
    }

  .boxes div {
    font-size: 1rem;
    margin-top: 1.5rem;

    h2 {
      font-size: 1.2rem;
    }
  }
}

